DATABASE_URL="postgresql://postgres:postgres@localhost:5432/prisma_practice"
JWT_SECRET=983c7c95a30d90203b3fcf0c87f0d2e02f574db3174e51b0bfbf35904a7a7a17
JWT_EXPIRES_IN=7d
CORS_ORIGIN=
PORT=
REDIS_URL=